*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { 
  margin: 0; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: rgb(1, 1, 37);
  color: white;
  position: relative;
  overflow: hidden;
}

#container3D canvas {
  width: 100vh;
  height: 100vh;
}

.selectioner {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.selectioner ul{
  display: flex;
}



.selectioner li{
  list-style-type: none;
  margin: 50px 10px;
  cursor: pointer;
}